* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 120%;
    background: #F8F8FF;
  }
  
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #5F9EA0;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
  }
  /*begin main*/
  .main{
    width: 90%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
  }
  .top {
    width: 100%;
    color: white;
    background: #5F9EA0;
    text-align: right;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
  }
  .content-video{
    width: 100%;
    margin: 20px auto;
    background: white;
  }

  .video-add {
    width: 100%;
    color: white;
    text-align: right;
    border-bottom: none;
  }

  /*end main*/
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
  }
  .error { 
    width: 93%;
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }
.table{
  border: 1px solid #3c763d;
  border-bottom: none;
  margin: 20px auto;
  width: 70%;
}
 .table1, .cell1 {
    display: inline-block;
} 

.cell{
  overflow-y: auto;
  height: 100%;
}


.table1{
  width: 70%;
}
.cell1{
  float: right;
  width: 30%;
  height: 230px;
}

.table1 .row{
  height: 115px;
}